{% extends 'base.html' %}
{% block content %}

<!-- <div class="section no-pad-bot" id="index-banner"> -->
  <div class="container">
    <div class="row center">
      <img src="/static/img/ET_logo.png" alt="logo">
    </div>

    <main class="container">
      <main class="section">
        <div class="row">
          <div class="col s14 m4">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons">Education</i></h2>
              <h5 class="center">International</h5>

              <p class="light">empowerTech is about empowering women with knowledge. International,
              and Education challenges can present barriers to advancement. Even
              though resources are available, their sporadic detail can present a challenge
              for the user who simply want to get basic information. We want you to be
              empowered with the knowledge you need to set career goals, advance in your
              career, build an education network, and connect with others in the technology sector.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">Network</i></h2>
              <h5 class="center">Collaboration</h5>

              <p class="light">Networking and collaboration for women in tech provides events, conferences, and online communities,
              empowering women in technology and fostering diverse talent. Ultimately, these initiatives drive innovation and progress
              in the tech industry.</p>
            </div>
          </div>

          <div class="col s14 m4">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons">Highlights</i></h2>
              <h5 class="center">Stories</h5>

              <p class="light">It is so important to continue growing the number of tech jobs that now held by women and inspiring the next generations
              of women to consider pursuing a career in the technology sector. And where better to look for inspiration than
              successful women in the industry.</p>
            </div>
          </div>

        </div>
      </main>

      {% endblock %}
