body {
  background-color: whitesmoke;

}

nav {
  background-color: #0DD2DF;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #0e0f0f;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(216, 131, 131, 0.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: auto;

}

.icon-block .material-icons {
  font-size: inherit;
  color: black;

}

footer.page-footer {
  margin: 0;
}

div.row {
  width: 700px;
  height: 700px;
  display: flex;
}

img {

  size: 800px;

}

p.light {
  font-size: x-large;
}

h5 {
  color: #0CC0DF;
}

body.main {
  background-image: url(img/abstractwhite.png)
}