{% extends 'base.html' %}
{% block content %}

<h1>Empower Details</h1>
<div class="card">
  <div class="card-content">
    <span class="card-title">
      {{ post.title }}</span>
    <p>Description:
      {{ post.description|linebreaks }}
    </p>
    <p>Category:
      {{ post.get_category_display }}
    </p>
  </div>
  {% if post.user == user %}
  <div class="card-action">
    <a href="{% url 'posts_update' post.id %}">Edit</a>
    <a href="{% url 'posts_delete' post.id %}">Delete</a>
  </div>
  {% endif %}
</div>

<div class="col s6">
  <br>
  {% if post.posted %}
  <div class="card-panel teal-text center-align">{{post.title}} has been posted for today</div>
  {% else %}
  <div class="card-panel red-text center-align">{{post.title}} whats new in the news feed</div>
  {% endif %}
  <table class="striped">
    <thead>
      <tr>
        <th>News Feed</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts.category_set.all %}
      <tr>
        <td>{{posts.get_category_display}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</div>
<div class="col s6">
  <form action="{% url 'add_comment' post.id %}" method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ comment_form.as_p }}
    <input type="submit" class="btn" value="Add Comment">
  </form>
  <table class="striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in post.comment_set.all %}
      <tr>
        <td>{{comment.date}}</td>
        <td>{{comment.description}}</td>
        <td><a href="{% url 'comments_delete' post.id comment.id %}">Delete</a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
<!-- New Markup Above -->
</div>
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}